* {
  padding: 0;
  margin: 0;
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  min-width: 375px;
  background-color: #ae1332;
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.04em;
  color: white;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  min-width: 335px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

a {
  text-decoration: none;
}

.visually-hidden {
  display: none;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.menu-hamburger {
  display: none;
}

header {
  margin: 0;
  padding: 13px;
}

header {
  background-color: white;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

header .container {
  margin: auto;
  padding: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  height: 24px;
}

.logo-text {
  color: #ae1332;
}

.logo-container {
  display: inline-flex;
  gap: 8px;
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.04em;
  text-transform: uppercase;
}

.logo-container a:active,
.logo-container a:hover,
.logo-container a:focus,
.logo-container a:visited {
  color: #ae1332;
}

.basket {
  align-self: flex-end;
}


/* Modal Thank You */


.modal-thank-you {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 335px;
  height: 426px;
  background-color: rgba(224, 63, 94, 1);
  border-radius: 20px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.x-button {
  position: absolute;
  top: 20px;
  left: 291px;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(224, 63, 94, 1);
  border: none;
  padding: 0;
  cursor: pointer;
}

.x-icon {
  stroke: rgba(255, 255, 255, 1);
  width: 24px;
  height: 24px;
  top: 6px;
  left: 6px;
  gap: 0px;
  border: 2px 0px 0px 0px;
  opacity: 0px;
}

.thank-you-raspberries {
  position: fixed;
  width: 207px;
  height: 176px;
  top: 40px;
  left: 64px;
  gap: 0px;
  opacity: 0px;
  padding: 0;
}

.thank-you-text {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: Fixed (295px)px;
  height: Hug (150px)px;
  top: 236px;
  left: 20px;
  gap: 14px;
  opacity: 0px;
}

.thank-you-header {
  text-align: center;
  width: 100%;
  height: 28px;
  gap: 0px;
  opacity: 0px;
  font-family: inherit;
  text-transform: uppercase;
  font-size: 28px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -0.04em;
  color: rgba(255, 255, 255, 1);

}

.thank-you-paragraph {
  text-align: center;
  width: 295px;
  height: 108px;
  gap: 0px;
  opacity: 1;
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.04em;
  text-align: center;
  color: rgba(255, 255, 255, 1);
}

/* -----------------------------------MODAL Your Order----------------------------------- */
.modal-your-order {
  position: fixed;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 335px;
  height: 903px;
  background-color: #fff;
  border-radius: 20px;
  pointer-events: none;
  flex-direction: column;
}

.scroll {
  overflow: auto;
  height: fit-content;
}

.button {
  position: absolute;
  top: 20px;
  left: 291px;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: none;
  padding: 0;
  cursor: pointer;
}

.your-order {
  font-weight: 500;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #ae1332;
  text-shadow: 0 4px 70px 0 rgba(0, 0, 0, 0.1);
  padding-bottom: 40px;
  padding: 20px;
}

.fruits {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33333;
  letter-spacing: -0.04em;
  color: #fff;
  margin-left: 20px;
}

.plant {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  color: #fff;
  margin-left: 20px;
}

.form-input {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.04em;
  color: #000;
  border: 1px solid #000;
  border-radius: 100px;
  width: 295px;
  height: 46px;
  opacity: 0.3;
  margin: 7px 20px;
  padding-left: 24px;
}

.form-textarea {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.04em;
  color: #000;
  opacity: 0.3;
  border: 1px solid #000;
  border-radius: 20px;
  width: 295px;
  height: 132px;
  margin: 7px 20px;
  padding-left: 24px;
  padding-top: 14px
}

textarea {
  resize: none;
}

.x-icon {
  stroke: #AE1332;
  width: 24px;
  height: 24px;
  top: 6px;
  left: 6px;
  gap: 0px;
  border: 2px 0px 0px 0px;
  opacity: 0px;
}

.fruits-box {
  border-radius: 20px;
  width: 295px;
  height: 119px;
}

.strawberry {
  background: #f8766b;
  margin-left: 20px;
  margin-top: 40px;
}

.apple {
  background: #edd251;
  margin: 12px 20px;
}

.fruit {
  background: #9dc262;
  margin: 12px 20px;
}

.submit {
  border-radius: 100px;
  padding: 12px 24px;
  width: 92px;
  height: 42px;
  background: #9dc162;
  margin: 20px 223px 20px 20px;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.04em;
  text-transform: capitalize;
  color: #fff;
  border: #9dc162;
}

.form-input-container {
  width: 295px;
  height: 312px;
}

.your-order-img-strawberry {
  margin: -43px 33px 8px 175px;
}

.your-order-img-apple {
  margin: -43px 33px 8px 157px;
}

.your-order-img {
  margin: -43px 33px 8px 156px;
}

.input {
  position: relative;
  top: 14px;
  left: 265px;
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  padding: 0;
  cursor: pointer;
  border-radius: 4px;
  background-color: transparent;
  color: white;
}


.input:checked {
  border-radius: 4px;
}

@media screen (max-width: 767px) {
  .banana-woman {
    display: none;
  }
}

