* {
  padding: 0;
  margin: 0;
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  min-width: 375px;
  background-color: #ae1332;
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.04em;
  color: white;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  min-width: 335px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

a {
  text-decoration: none;
}

.visually-hidden {
  display: none;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.menu-hamburger {
  display: none;
}

header {
  margin: 0;
  padding: 13px;
}

header {
  background-color: white;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

header .container {
  margin: auto;
  padding: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  height: 24px;
}

.logo-text {
  color: #ae1332;
}

.logo-container {
  display: inline-flex;
  gap: 8px;
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.04em;
  text-transform: uppercase;
}

.logo-container a:active,
.logo-container a:hover,
.logo-container a:focus,
.logo-container a:visited {
  color: #ae1332;
}

.basket {
  align-self: flex-end;
}

/* How it works */

.how-it-works {
  width: 335px;
  height: 608px;
  left: 20px;
  gap: 44px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hiw-first {
  width: 335px;
  height: 188px;
  gap: 14px;
}

.hiw-header {
  text-transform: uppercase;
  font-family: DM Sans;
  font-size: 28px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -0.04em;
  text-align: center;
}

.hit-paragraph {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.04em;
  text-align: center;
}

.hiw-steps {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hiw-steps-container {
  width: 335px;
  height: 112px;
  gap: 14px;
  top: 20px;
  left: 20px;
  background-color: white;
  border-radius: 20px;
}

.hiw-step-paragraph {
  width: 145px;
  height: 72px;
font-weight: 400;
color: black;
font-size: 14px;
line-height: 18px;
letter-spacing: -0.04em;
display: flex;
justify-content: center;
align-items: center;
}

.hiw-step-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 295px;
  height: 72px;
  top: 20px;
  left: 20px;
  gap: 14px;
}

.hiw-first-step {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 136px;
  height: 48px;
  border-radius: 200px;
  padding: 15px, 42px;
  gap: 10px;
  background-color: #ae1332;
}

.hiw-second-step {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 136px;
  height: 48px;
  border-radius: 200px;
  gap: 10px;
  background-color: #a1c864;
}

.hiw-third-step {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 136px;
  height: 48px;
  border-radius: 200px;
  gap: 10px;
  background-color: #f5ce13;
}

.hiw-name-one {
width: 73px;
height: 24px;
font-weight: 400;
font-size: 18px;
line-height: 24px;
letter-spacing: -0.04em;
display: flex;
justify-content: center;
align-items: center;
}

.hiw-name-two {
  width: 100px;
height: 24px;
font-weight: 400;
font-size: 18px;
line-height: 24px;
letter-spacing: -0.04em;
display: flex;
justify-content: center;
align-items: center;
}

.hiw-name-three {
  width: 80px;
height: 24px;
font-weight: 400;
font-size: 18px;
line-height: 24px;
letter-spacing: -0.04em;
display: flex;
justify-content: center;
align-items: center;
}

.hiw-foto {
  width: 335px;
  height: 476px;
  left: 20px;
  border-radius: 20px;
  text-align: center;
}

