html {
  scroll-behavior: auto;
}

* {
  margin: 0;
  padding: 0;
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  background-color: #ae1332;
  color: white;
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.04em;
  line-height: 18px;
  margin: 0;
  min-width: 375px;
}

.container {
  min-width: 335px;
  padding-left: 20px;
  padding-right: 20px;
}

main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

button {
  cursor: pointer;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

a {
  color: currentColor;
  text-decoration: none;
}

p:last-child {
  margin-bottom: 0;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  display: none;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.menu-hamburger {
  display: none;
}

header {
  align-items: center;
  background-color: white;
  display: flex;
  height: 50px;
  justify-content: center;
  margin: 0;
  padding: 13px 0;
}

header > div.container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding: 0;
}

.logo {
  align-items: center;
  display: flex;
  justify-content: center;
}

.logo-text {
  color: #ae1332;
}

.logo-container {
  display: inline-flex;
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 700;
  gap: 8px;
  letter-spacing: -0.04em;
  line-height: 18px;
  text-transform: uppercase;
}

.logo-container a:active,
.logo-container a:hover,
.logo-container a:focus,
.logo-container a:visited {
  color: #ae1332;
}

.basket {
  align-items: center;
  display: flex;
  justify-content: center;
}

.modal-your-order {
  -ms-overflow-style: none;
  background-color: #fff;
  border-radius: 20px;
  left: 50%;
  max-height: 90vh;
  overflow-y: auto;
  position: fixed;
  scrollbar-width: none;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 335px;
  z-index: 9999;
}

.modal-your-order::-webkit-scrollbar {
  display: none;
}

.modal-content {
  padding: 20px;
  z-index: 999;
}

.close-button {
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  height: 24px;
  justify-content: center;
  position: absolute;
  right: 20px;
  top: 20px;
  width: 24px;
}

.close-icon {
  height: 14px;
  stroke: #ae1332;
  width: 14px;
}

.modal-title {
  color: #ae1332;
  font-size: 28px;
  font-weight: 500;
  letter-spacing: -0.04em;
  line-height: 1;
  margin-bottom: 40px;
  text-shadow: 0 4px 70px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
}

.fruits-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.fruit-option {
  align-items: flex-start;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  height: 119px;
  padding: 20px;
  position: relative;
  width: 100%;
}

.fruit-option input[type='checkbox'] {
  cursor: pointer;
  opacity: 1;
  position: absolute;
}

.checkmark-icon {
  fill: #fff;
  height: 5.9px;
  opacity: 0;
  position: absolute;
  right: 19px;
  top: 19px;
  transition: opacity 0.2s ease-in-out;
  width: 5.9px;
}

.fruit-option input[type='checkbox']:checked ~ .checkmark-icon {
  opacity: 1;
}

.fruit-option.strawberry {
  background-color: #f8766b;
}

.fruit-option.apple {
  background-color: #edd251;
}

.fruit-option.fruits {
  background-color: #9dc262;
}

.fruit-name {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -0.04em;
  line-height: 1.33333;
  margin-bottom: 2px;
}

.fruit-type {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.02em;
  line-height: 1.28571;
}

.fruit-image {
  bottom: 8px;
  position: absolute;
  right: 20px;
}

.fruit-option input[type='checkbox'] {
  appearance: none;
  background-color: transparent;
  border: 1.5px solid #fff;
  border-radius: 4px;
  cursor: pointer;
  height: 16px;
  position: absolute;
  right: 14px;
  top: 14px;
  width: 16px;
  z-index: 9999;
}

.form-fields {
  margin-top: 40px;
}

.form-input,
.form-textarea {
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 100px;
  color: #000;
  font-family: 'DM Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.04em;
  line-height: 1.28571;
  margin-bottom: 14px;
  padding: 14px 24px;
  width: 100%;
}

.form-textarea {
  border-radius: 20px;
  height: 132px;
  resize: none;
}

.submit-button {
  background-color: #9dc162;
  border: none;
  border-radius: 100px;
  color: #fff;
  cursor: pointer;
  display: block;
  font-family: 'DM Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.04em;
  line-height: 1.28571;
  padding: 12px 24px;
  text-transform: capitalize;
  width: 100%;
}

.modal-image {
  display: none;
}

@media screen and (min-width: 768px) {
  .modal-your-order {
    height: 853px;
    width: 704px;
  }

  .modal-content {
    height: 853px;
    padding: 40px;
  }

  .modal-title {
    font-size: 40px;
    font-weight: 500;
    letter-spacing: -0.04em;
    line-height: 44px;
    margin-bottom: 40px;
    text-align: left;
  }

  .fruits-container {
    flex-direction: row;
    gap: 12px;
  }

  .fruit-option input[type='checkbox'] {
    height: 20px;
    width: 20px;
  }

  .checkmark-icon {
    height: 8px;
    right: 20px;
    top: 20px;
    width: 8px;
  }

  .fruit-name {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: -0.04em;
    line-height: 24px;
    position: absolute;
    text-align: left;
    top: 40px;
  }

  .fruit-type {
    font-size: 14px;
    font-weight: 400;
    left: 20px;
    letter-spacing: -0.02em;
    line-height: 18px;
    position: absolute;
    top: 66px;
  }

  .fruit-image {
    bottom: 0;
    height: 148px;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    right: 0;
    top: 88px;
    width: auto;
  }

  .fruit-option {
    height: 250px;
    width: calc(33.33% - 8px);
  }

  .form-fields {
    bottom: 0;
    left: 0;
    width: 360px;
  }

  .submit-button {
    width: 114px;
  }

  .modal-image {
    display: block;
    height: auto;
    max-width: 50%;
    position: absolute;
    right: 0;
    top: 389px;
    z-index: -1;
  }
}

@media screen and (min-width: 1280px) {
  .modal-your-order {
    height: 911px;
    width: 891px;
  }

  .modal-your-order,
  .modal-content {
    height: 911px;
    width: 891px;
  }

  .close-button {
    height: 28px;
    width: 28px;
  }

  .fruit-name {
    font-size: 40px;
    font-weight: 500;
    left: 40px;
    letter-spacing: -0.04em;
    line-height: 44px;
    text-align: left;
    top: 40px;
  }

  .fruits-container {
    gap: 20px;
  }

  .fruit-option {
    height: 308px;
    width: 257px;
  }

  .fruit-name {
    font-family: DM Sans;
    font-size: 24px;
    font-weight: 700;
    left: 20px;
    letter-spacing: -0.04em;
    line-height: 28px;
    text-align: left;
    top: 40px;
  }

  .fruit-type {
    font-size: 14px;
    font-weight: 400;
    left: 20px;
    letter-spacing: -0.02em;
    line-height: 18px;
    top: 76px;
  }

  .fruit-image {
    height: 196px;
  }

  .form-fields {
    height: 331px;
    left: 40px;
    top: 472px;
    width: 360px;
  }

  .submit-button {
    height: 48px;
    width: 114px;
  }

  .modal-image {
    height: 458px;
    left: 420px;
    top: 453px;
    width: 471px;
  }
}

.modal-thank-you {
  background-color: rgba(224, 63, 94, 1);
  border-radius: 20px;
  height: 426px;
  left: 50%;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
  width: 335px;
  z-index: 888;
}

.is-open {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

.x-button {
  align-items: center;
  background-color: rgba(224, 63, 94, 1);
  border: none;
  cursor: pointer;
  display: flex;
  height: 24px;
  justify-content: center;
  left: 291px;
  padding: 0;
  position: absolute;
  top: 20px;
  width: 24px;
}

.x-icon {
  fill: #ffffff;
  height: 24px;
  left: 6px;
  top: 6px;
  width: 24px;
}

.thank-you-raspberries {
  height: 176px;
  left: 64px;
  padding: 0;
  position: fixed;
  top: 40px;
  width: 207px;
}

.thank-you-text {
  display: flex;
  flex-direction: column;
  left: 20px;
  position: fixed;
  top: 236px;
}

.thank-you-header {
  color: rgba(255, 255, 255, 1);
  font-family: inherit;
  font-size: 28px;
  font-weight: 500;
  height: 28px;
  letter-spacing: -0.04em;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

.thank-you-paragraph {
  color: rgba(255, 255, 255, 1);
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 400;
  height: 108px;
  letter-spacing: -0.04em;
  line-height: 18px;
  text-align: center;
  text-align: center;
  width: 295px;
}

.hamburger {
  background-color: rgba(174, 19, 50, 1);
  display: flex;
  flex-direction: column;
  height: 100%;
  left: 0;
  padding: 0;
  position: fixed;
  top: 0;
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  z-index: 100;
}

.is-open-hamburger {
  transform: translateX(0);
}

.logo-hamburger-container {
  background-color: white;
  max-width: 100%;
}

.logo-hamburger {
  align-items: center;
  background-color: rgba(255, 255, 255, 1);
  cursor: pointer;
  display: flex;
  height: 50px;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  max-width: 375px;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
}

.x-button-hamburger {
  background-color: transparent;
  border: none;
  cursor: pointer;
  height: 24px;
  width: 24px;
}

.x-icon-hamburger {
  fill: rgba(174, 19, 50, 1);
}

.menu-hamburger {
  display: flex;
  justify-content: center;
  padding-top: 124px;
  width: 100%;
}

.left-nav {
  display: none;
}

.left-nav-hamburger {
  display: flex;
  flex-direction: column;
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  gap: 16px;
  letter-spacing: -0.04em;
  line-height: 18px;
  text-align: center;
  text-align: center;
}

.basket-icon {
  fill: rgba(255, 255, 255, 1);
}

@media screen and (min-width: 768px) {
  .left-nav a {
    color: #ae1332;
  }

  header {
    background-color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 16px 32px;
  }

  header > div.container {
    position: relative;
    width: 704px;
  }

  .left-nav {
    display: block;
  }

  .left-nav-list {
    display: flex;
    flex-direction: row;
    gap: 16px;
  }

  .logo-container {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

@media screen and (min-width: 1280px) {
  header > div.container {
    width: 1216px;
  }
}

.hero {
  display: flex;
  height: 1844px;
  justify-content: center;
  position: relative;
}

.hero-header {
  color: rgba(255, 255, 255, 1);
  display: flex;
  font-family: inherit;
  font-size: 28px;
  font-weight: 500;
  height: 118px;
  justify-content: center;
  letter-spacing: -0.04em;
  line-height: 28px;
  padding: 0;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  top: 56px;
  width: 335px;
  z-index: 2;
}

.hero-header br:last-child {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  display: none;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.hero-stawberrys {
  filter: blur(2px);
  height: 56px;
  left: 299px;
  position: absolute;
  top: 56px;
  width: 56px;
  z-index: -1;
}

.hero-bananas {
  filter: blur(2px);
  left: 13px;
  position: absolute;
  top: 116px;
  transform: scaleX(-1) rotate(-20deg);
  width: 66px;
  z-index: 1;
}

.hero-woman {
  align-items: center;
  background-color: #ae1332;
  border-radius: 500px;
  display: flex;
  height: 509px;
  justify-content: center;
  position: relative;
  top: 116px;
  width: 334px;
}

.hero-woman::before {
  background-image: linear-gradient(
    359.94deg,
    #ffffff -1.7%,
    rgba(255, 255, 255, 0.441769) 30.64%,
    rgba(255, 255, 255, 0) 76.92%
  );
  border-radius: 500px;
  bottom: -1px;
  content: '';
  left: -1px;
  position: absolute;
  right: -1px;
  top: -1px;
  z-index: -1;
}

.hero-woman-img {
  border-radius: 500px;
  height: 484px;
  width: 311px;
}

.shop-now-button {
  align-items: center;
  background-color: rgba(255, 255, 255, 1);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  height: 80px;
  justify-content: center;
  padding: 0;
  position: absolute;
  top: 610px;
  transform: translate(0, -50%);
  width: 80px;
}

.shop-now-text {
  color: #ae1332;
  font-family: inherit;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: -0.04em;
  line-height: 20px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  transform: rotate(-20deg);
}

.shop-now-text:hover,
.shop-now-text:focus {
  color: rgba(164, 203, 102, 1);
}

.hero-left {
  display: flex;
  flex-direction: column;
}

.hero-paragraph {
  color: inherit;
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  height: 90px;
  left: 28px;
  letter-spacing: -0.04em;
  line-height: 18px;
  position: absolute;
  text-align: left;
  top: 734px;
  width: 279px;
}

.watermelon-container {
  background-color: rgba(164, 203, 102, 1);
  border-radius: 500px;
  height: 387px;
  left: 43px;
  position: absolute;
  top: 868px;
  width: 249px;
}

.hero-fruit {
  display: block;
  font-family: inherit;
  font-size: 12px;
  font-weight: 400;
  height: 14px;
  left: 112px;
  letter-spacing: -0.04em;
  line-height: 14px;
  position: relative;
  top: 28px;
  width: 24px;
}

.hero-watermelon {
  height: 172px;
  left: 24px;
  position: absolute;
  top: 103px;
  width: 200px;
}

.hero-shadow {
  height: 38px;
  left: 5px;
  position: absolute;
  top: 228px;
  width: 239px;
}

.hero-watermelon-paragraph {
  display: flex;
  font-family: inherit;
  font-size: 12px;
  font-weight: 500;
  height: 70px;
  left: 47px;
  letter-spacing: -0.04em;
  line-height: 14px;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  top: 277px;
  width: 155px;
}

.hero-right {
  display: flex;
  flex-direction: column-reverse;
}

.hero-right-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  left: 35px;
  position: absolute;
  top: 1299px;
  width: 279px;
}

.hero-right-block {
  border: 1px solid;
  border-color: rgba(255, 255, 255, 1);
  border-radius: 1000px;
  display: block;
  font-family: DM Sans;
  font-size: 12px;
  font-weight: 500;
  height: 38px;
  letter-spacing: -0.04em;
  line-height: 14px;
  padding-top: 12px;
  text-align: center;
  text-transform: uppercase;
  width: 125px;
}

.strawberry-basket-container {
  background-color: rgba(245, 206, 19, 1);
  border-radius: 500px;
  height: 387px;
  left: 43px;
  position: absolute;
  top: 1427px;
  width: 249px;
}

.hero-fruit-second {
  font-family: DM Sans;
  font-size: 12px;
  font-weight: 400;
  height: 14px;
  left: 112px;
  letter-spacing: -0.04em;
  line-height: 14px;
  position: relative;
  text-align: center;
  top: 28px;
  width: 24px;
}

.hero-stawberrys-basket {
  height: 185px;
  left: 43px;
  position: absolute;
  top: 61px;
  width: 162px;
}

.hero-stawberrys-paragraph {
  font-family: inherit;
  font-size: 12px;
  font-weight: 500;
  height: 84px;
  left: 43px;
  letter-spacing: -0.04em;
  line-height: 14px;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  top: 263px;
  width: 163px;
}

.hero-shadow-second {
  height: 38px;
  left: 10px;
  position: absolute;
  top: 210px;
  width: 239px;
}

@media screen and (min-width: 768px) {
  .hero {
    height: 1612px;
  }

  .hero-header {
    font-size: 50px;
    line-height: 54px;
    width: 704px;
  }

  .hero-header br:last-child {
    display: block;
  }

  .shop-now-button {
    height: 114px;
    top: 592px;
    width: 114px;
  }

  .shop-now-text {
    box-shadow: 0 4px 70px 0 #0000001a;
    font-size: 28px;
    line-height: 28px;
  }

  .hero-stawberrys {
    height: 108px;
    left: 581px;
    top: 55px;
    width: 108px;
  }

  .hero-bananas {
    left: 26px;
    top: 169px;
    width: 132px;
  }

  .hero-paragraph {
    height: 90px;
    left: 0;
    top: 671px;
    width: 279px;
  }

  .watermelon-container {
    height: 387px;
    left: 32px;
    top: 816px;
    width: 249px;
  }

  .strawberry-basket-container {
    left: 455px;
    top: 671px;
  }

  .hero-right-list {
    justify-content: flex-end;
    left: 428px;
    top: 1102px;
  }

  .hero-right-list li:nth-child(1) {
    width: 125px;
  }

  .hero-right-list li:nth-child(2) {
    width: 133px;
  }

  .hero-right-list li:nth-child(3) {
    width: 115px;
  }

  .hero-right-list li:nth-child(4) {
    width: 110px;
  }
}

@media screen and (min-width: 1280px) {
  .hero {
    height: 1147px;
  }

  .hero-header {
    font-size: 64px;
    line-height: 64px;
    width: 898px;
  }

  .hero-woman {
    height: 742px;
    top: 122px;
    width: 486px;
  }

  .hero-woman-img {
    height: 702px;
    width: 452px;
  }

  .hero-stawberrys {
    height: 120px;
    left: 875px;
    top: 39px;
    width: 120px;
  }

  .hero-bananas {
    left: 193.62px;
    top: 191px;
    width: 183.21px;
  }

  .hero-paragraph {
    left: 30px;
    top: 408px;
    width: 222px;
  }

  .watermelon-container {
    left: 30px;
    top: 560px;
  }

  .strawberry-basket-container {
    left: auto;
    right: 30px;
    top: 336px;
  }

  .hero-right-list {
    left: auto;
    right: 30px;
    top: 767px;
  }
}

.footer {
  background-color: #ffffff;
}

.footer-logo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 80px;
}

.footer-photo {
  margin-bottom: 20px;
}

.svg-logo-container {
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: center;
}

.footer-logo {
  color: #ae1332;
  font-weight: 700;
  text-decoration: none;
}

.footer-contacts {
  color: #ae1332;
}

.ul-footer-contacts {
  display: flex;
  gap: 20px;
  justify-content: center;
  list-style: none;
  margin-bottom: 44px;
  margin-top: 24px;
}

.footer-address-list {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 14px;
  list-style: none;
  padding-bottom: 80px;
}

.footer-sm-list {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  list-style: none;
  margin-bottom: 44px;
}

.footer-sm-icon {
  align-items: center;
  border: solid 1px;
  border-color: #ae1332;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  padding: 8px;
}

.footer-sm-icon:hover,
.footer-sm-icon:focus {
  background-color: rgba(174, 19, 50, 0.1);
}

.footer-sm-icon-fill {
  height: 40px;
  object-fit: contain;
  width: 40px;
}

.footer-a-li {
  color: #ae1332;
  display: flex;
  flex-direction: column;
  text-align: center;
  text-decoration: none;
}

.how-it-works {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 44px;
  justify-content: center;
  left: 20px;
  margin-bottom: 80px;
  width: 335px;
}

.hiw-first {
  gap: 14px;
  height: 188px;
  width: 335px;
}

.hiw-header br {
  display: none;
}

.hiw-header {
  font-family: DM Sans;
  font-size: 28px;
  font-weight: 500;
  letter-spacing: -0.04em;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.hit-paragraph {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.04em;
  line-height: 18px;
  text-align: center;
}

.hiw-steps {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}

.hiw-steps-container {
  align-items: center;
  background-color: white;
  border-radius: 20px;
  display: flex;
  gap: 14px;
  height: 112px;
  justify-content: center;
  left: 20px;
  top: 20px;
  width: 335px;
}

.hiw-step-paragraph {
  align-items: center;
  box-shadow: 0 4px 70px 0 #0000001a;
  color: black;
  display: flex;
  font-size: 14px;
  font-weight: 400;
  height: 72px;
  justify-content: center;
  letter-spacing: -0.04em;
  line-height: 18px;
  width: 145px;
}

.hiw-step-item {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 14px;
  height: 72px;
  justify-content: center;
  left: 20px;
  top: 20px;
  width: 295px;
}

.hiw-first-step {
  align-items: center;
  background-color: #ae1332;
  border-radius: 200px;
  display: flex;
  gap: 10px;
  height: 48px;
  justify-content: center;
  width: 136px;
}

.hiw-second-step {
  align-items: center;
  background-color: #a1c864;
  border-radius: 200px;
  display: flex;
  gap: 10px;
  height: 48px;
  justify-content: center;
  width: 136px;
}

.hiw-third-step {
  align-items: center;
  background-color: #f5ce13;
  border-radius: 200px;
  display: flex;
  gap: 10px;
  height: 48px;
  justify-content: center;
  width: 136px;
}

.hiw-name-one {
  align-items: center;
  display: flex;
  font-size: 18px;
  font-weight: 400;
  height: 24px;
  justify-content: center;
  letter-spacing: -0.04em;
  line-height: 24px;
  width: 73px;
}

.hiw-name-two {
  align-items: center;
  display: flex;
  font-size: 18px;
  font-weight: 400;
  height: 24px;
  justify-content: center;
  letter-spacing: -0.04em;
  line-height: 24px;
  width: 100px;
}

.hiw-name-three {
  align-items: center;
  display: flex;
  font-size: 18px;
  font-weight: 400;
  height: 24px;
  justify-content: center;
  letter-spacing: -0.04em;
  line-height: 24px;
  width: 80px;
}

.hiw-foto-container {
  height: 476px;
  width: 335px;
}

.hiw-foto {
  border-radius: 20px;
  height: 476px;
  left: 20px;
  object-fit: cover;
  object-position: 50% 50%;
  text-align: center;
  width: 335px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 375px;
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

.section-fruits {
  padding-bottom: 80px;
}

@media only screen and (min-width: 768px) {
  .section-fruits {
    padding-bottom: 144px;
  }
}

@media only screen and (min-width: 1280px) {
  .section-fruits {
    padding-bottom: 150px;
  }
}

.fruits-title {
  align-items: center;
  color: white;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: -0.04em;
  line-height: 1;
  margin-bottom: 14px;
  text-align: center;
  text-shadow: 0 4px 70px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
}

.fruits-undertitle {
  align-items: center;
  color: white;
  display: block;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.04em;
  line-height: 1.29;
  margin-bottom: 44px;
  margin-left: auto;
  margin-right: auto;
  max-width: 547px;
  text-align: center;
  text-shadow: 0 4px 70px rgba(0, 0, 0, 0.1);
}

.fruits-item-title {
  color: white;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.04em;
  line-height: 1.17;
  margin-bottom: 7px;
}

.fruits-item-type {
  color: white;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.02em;
  line-height: 1.29;
  margin-bottom: 4px;
}

.fruits-price {
  align-items: center;
  background-color: white;
  border-radius: 200px;
  bottom: 24px;
  color: #ae1332;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-weight: 500;
  height: 42px;
  justify-content: center;
  letter-spacing: -0.04em;
  line-height: 1.29;
  position: absolute;
  transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 126px;
}

.fruits-price:focus,
.fruits-price:hover {
  background-color: lightgrey;
}

.fruits-item {
  border-radius: 20px;
  height: 465px;
  padding: 64px 20px 24px;
  position: relative;
}

@media only screen and (min-width: 768px) {
  .fruits-item {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media only screen and (min-width: 1280px) {
  .fruits-item {
    padding-right: 47px;
  }

  .fruits-item img {
    margin-left: 23px;
  }
}

.strawberry {
  background-color: #f8766b;
}

.banana {
  background-color: #edd251;
}

.watermelon {
  background-color: #9dc262;
}

.lime {
  background-color: #bfd663;
}

.apple {
  background-color: #e93f29;
}

.peach {
  background-color: #db4f4b;
}

.plums {
  background-color: #9b5366;
}

@media only screen and (max-width: 767px) {
  .plums {
    display: none;
  }
}

.orange {
  background-color: #f47f4c;
}

@media only screen and (max-width: 767px) {
  .orange {
    display: none;
  }
}

.kiwi {
  background-color: #98b37e;
}

@media only screen and (max-width: 1279px) {
  .kiwi {
    display: none;
  }
}

.button-order {
  align-items: center;
  animation: btn-link 7s cubic-bezier(0.455, 0.03, 0.515, 0.955) 1s infinite both;
  background-color: #9dc262;
  border: none;
  border-radius: 50%;
  color: white;
  display: flex;
  font-size: 14px;
  font-weight: 500;
  gap: 4px;
  height: 80px;
  justify-content: center;
  letter-spacing: -0.04em;
  line-height: 1.29;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
  transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 80px;
}

@media only screen and (min-width: 768px) {
  .button-order {
    font-size: 18px;
    height: 114px;
    line-height: 1.33;
    width: 114px;
  }
}

.icon-arrow {
  fill: white;
  transform: rotate(14deg);
}

.button-order:hover,
.button-order:focus {
  background-color: white;
  color: #9dc262;
}

.icon-arrow:hover,
.icon-arrow:focus {
  fill: #9dc262;
}

.fruits-list {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
  justify-content: center;
  margin-bottom: 44px;
}

@media only screen and (min-width: 768px) {
  .fruits-list {
    gap: 16px;
  }
}

@media only screen and (min-width: 1280px) {
  .fruits-list {
    gap: 24px;
  }
}

.contacts {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 80px;
  padding-left: 20px;
  padding-right: 20px;
}

.contacts-header {
  font-family: 'DM Sans', sans-serif;
  font-size: 32px;
  font-weight: 500;
  letter-spacing: -0.04em;
  line-height: 32px;
  line-height: 1;
  position: relative;
  text-align: center;
  text-shadow: 0 4px 70px #0000001a;
  text-transform: uppercase;
  top: 43px;
}

.contacts-paragraf {
  color: #fff;
  display: none;
  font-family: 'DM Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.04em;
  line-height: 18px;
  line-height: 1.28571;
  text-align: center;
  text-shadow: 0 4px 70px rgba(0, 0, 0, 0.1);
}

.contact-form {
  align-items: center;
  border: 1px solid #fff;
  border-radius: 100px;
  display: flex;
  display: none;
  height: 48px;
  justify-content: space-between;
  width: 292px;
}

.send-button:hover,
.send-button:focus {
  background-color: white;
  color: #9dc262;
}

.send-button {
  background: #9dc162;
  border: none;
  border-radius: 100px;
  color: #fff;
  height: 48px;
  padding: 15px 35px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 102px;
}

.email-area {
  background-color: transparent;
  border: none;
  color: #fff;
  font-family: 'DM Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.04em;
  line-height: 18px;
  line-height: 1.28571;
  text-align: center;
}

.kiwi-img {
  height: 476px;
  max-width: 100%;
}

.berries-img {
  display: none;
}

.br-3 {
  display: none;
}

@media (min-width: 768px) {
  .how-it-works {
    height: 633px;
    width: 100%;
  }

  .hiw-first {
    gap: 14px;
    height: 156px;
    width: 624px;
  }

  .hiw-foto-container {
    margin-left: auto;
    margin-right: auto;
  }

  .hiw-foto-container,
  .hiw-foto {
    height: 476px;
    width: 704px;
  }

  br {
    display: block;
  }
}

@media (min-width: 1280px) {
  .how-it-works {
    width: 100%;
  }

  .hiw-steps {
    flex-direction: row;
  }

  .hiw-foto {
    height: 476px;
    width: 860px;
  }
}

@media (min-width: 768px) {
  .contacts {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-bottom: 144px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .contacts-header {
    font-family: 'DM Sans', sans-serif;
    font-size: 54px;
    font-weight: 500;
    letter-spacing: -0.04em;
    line-height: 54px;
    line-height: 1;
    position: relative;
    text-align: center;
    text-shadow: 0 4px 70px rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
    top: 43px;
  }

  .contacts-paragraf {
    color: #fff;
    display: flex;
    font-family: 'DM Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.04em;
    line-height: 18px;
    line-height: 1.28571;
    text-align: center;
    text-shadow: 0 4px 70px rgba(0, 0, 0, 0.1);
  }

  .contact-form {
    align-items: center;
    border: 1px solid #fff;
    border-radius: 100px;
    display: flex;
    height: 48px;
    justify-content: space-between;
    width: 292px;
  }

  .send-button {
    background: #9dc162;
    border: none;
    border-radius: 100px;
    color: #fff;
    height: 48px;
    padding: 15px 35px;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    width: 102px;
  }

  .email-area {
    background-color: transparent;
    border: none;
    color: #fff;
    font-family: 'DM Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.04em;
    line-height: 18px;
    line-height: 1.28571;
    text-align: center;
  }

  .paragraf-input {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 80px;
    height: 182px;
    justify-content: flex-start;
    padding-bottom: 144px;
    padding-top: 80px;
    width: 492px;
  }

  .images-position {
    height: 559px;
    width: 704px;
  }

  .berries-img {
    display: flex;
  }

  .img-list {
    display: flex;
    flex-direction: row;
    gap: 16px;
  }

  .br-1 {
    display: none;
  }

  .br-2 {
    display: none;
  }

  .br-3 {
    display: flex;
  }
}

@media (min-width: 1280px) {
  .contacts {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-bottom: 150px;
  }

  .contacts-header {
    font-size: 64px;
    font-weight: 500;
    letter-spacing: -0.04em;
    line-height: 64px;
    line-height: 1;
    position: relative;
    text-align: center;
    text-shadow: 0 4px 70px rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
    top: 43px;
  }

  .contacts-paragraf {
    display: flex;
    font-family: 'DM Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.04em;
    line-height: 18px;
    line-height: 1.28571;
    text-align: center;
    text-shadow: 0 4px 70px rgba(0, 0, 0, 0.1);
  }

  .contact-form {
    align-items: center;
    border: 1px solid #fff;
    border-radius: 100px;
    display: flex;
    height: 48px;
    justify-content: space-between;
    width: 292px;
  }

  .send-button {
    background: #9dc162;
    border: none;
    border-radius: 100px;
    color: #fff;
    height: 48px;
    padding: 15px 35px;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    width: 102px;
  }

  .email-area {
    background-color: transparent;
    border: none;
    color: #fff;
    font-family: 'DM Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.04em;
    line-height: 18px;
    line-height: 1.28571;
    text-align: center;
  }

  .paragraf-input {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 80px;
    height: 182px;
    justify-content: flex-start;
    padding-top: 80px;
    width: 492px;
  }

  .images-position {
    height: 591px;
    padding-left: 32px;
    padding-right: 32px;
    width: 1216px;
  }

  .kiwi-img {
    border-radius: 20px;
    height: 502px;
    width: 792px;
  }

  .berries-img {
    border-radius: 20px;
    display: flex;
    height: 502px;
    width: 400px;
  }

  .img-list {
    display: flex;
    flex-direction: row;
    gap: 16px;
  }
}

@media only screen and (min-width: 768px) {
  footer {
    height: 475px;
    margin: 0;
    width: 100%;
  }

  .footer-logo-container {
    padding: 0;
    width: 349px;
  }

  .ul-footer-contacts {
    margin-top: 0;
  }

  .footer-address-list {
    align-items: flex-start;
  }

  footer .container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 475px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 32px;
    padding-top: 80px;
    row-gap: 80px;
  }

  .footer-contacts-list {
    display: flex;
    justify-content: center;
    padding: 0;
    width: 349px;
  }

  .footer-logo {
    margin: 0;
    padding: 0;
  }

  .footer-contacts-right {
    align-self: flex-end;
    padding-top: 38px;
    width: 184px;
  }

  .footer-a-li {
    font-size: 18px;
    letter-spacing: normal;
    line-height: 24px;
    text-align: left;
  }

  .footer-sm-icon-fill {
    height: 28px;
    opacity: 0.8;
    width: 28px;
  }

  .footer-address-list li:last-child a {
    letter-spacing: -0.02em;
  }

  .hamburger {
    display: none;
  }
}

@media only screen and (min-width: 1280px) {
  footer {
    height: 377px;
  }

  footer .container {
    align-items: center;
    flex-direction: row;
    height: 377px;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
    padding: 0 32px;
  }

  .footer-contacts-right {
    padding: 0;
  }

  .footer-address-list {
    padding-bottom: 97px;
  }
}
